<?xml version='1.0'?>
<model>
  <name>v4</name>
  <version>0.1</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Dave Churchill</name>
    <email>17642848@students.lincoln.ac.uk</email>
  </author>

  <description>
    ARWAC V4 platform, based on Lincoln Podcar (https://github.com/rwlloyd/Curtis-Serial-Bridge)
  </description>
</model>
